@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&family=Italianno&family=Noto+Sans+Mongolian&family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Fuentes
font-family: 'Grenze Gotisch',
serif;
font-family: 'Italianno',
cursive;
font-family: 'Noto Sans Mongolian',
sans-serif;
font-family: 'Pirata One',
system-ui;
font-family: 'Bebas Neue',
sans-serif;
*/


#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

h1 {
  font-family: 'Bebas Neue',
    sans-serif;
}

body {
  background-color: #D9D9D9;
}

.barraPrincipal {
  color: #e6e4e4;
  font-family: 'Pirata One', system-ui;
}

.footer {
  background-color: #212427;
  ;
}

@media (min-width: 992px) {
  .img-new {
    height: 450px;
    width: 650px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .img-new {
    height: 400px;
    width: 400px;
  }
}