@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&family=Italianno&family=Noto+Sans+Mongolian&family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Fuentes
font-family: 'Grenze Gotisch',
serif;
font-family: 'Italianno',
cursive;
font-family: 'Noto Sans Mongolian',
sans-serif;
font-family: 'Pirata One',
system-ui;
font-family: 'Bebas Neue',
sans-serif;
*/

/* Color
#D9D9D9 #E7E6E1 #F7F6E7 #F2A154 #314E52
*/

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

h1{
font-family: 'Grenze Gotisch', serif;
font-size: 40px;
}

body{
  background-color: #D9D9D9;
}

.fondo-footer{
  background-color: #525353
}


@media (min-width: 992px) {
  .img-new {
    height: 450px;
    /* Ajusta el tamaño de altura según tus necesidades */
    width: 650px;
    /* Ajusta el tamaño de ancho según tus necesidades */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .img-new {
    height: 400px;
    /* Ajusta el tamaño de altura según tus necesidades */
    width: 400px;
    /* Ajusta el tamaño de ancho según tus necesidades */
  }
}