@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&family=Italianno&family=Noto+Sans+Mongolian&family=Pirata+One&display=swap');

/* Fuentes
font-family: 'Grenze Gotisch',
serif;
font-family: 'Italianno',
cursive;
font-family: 'Noto Sans Mongolian',
sans-serif;
font-family: 'Pirata One',
system-ui;
*/

/* Color
#D9D9D9 #E7E6E1 #F7F6E7 #F2A154 #314E52
*/

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

h1{
  font-family: 'Pirata One',
      system-ui;
      text-align: center;
}

body{
  background-color: #D9D9D9;
}